.position--relative {
    position: relative;
}
.position--absolute {
    position: absolute;
}
.cursor--pointer {
    cursor: pointer;
}

.object-fit--cover {
    object-fit: cover;
}

.object-fit--contain {
    object-fit: contain;
}

.width--full {
    width: 100%;
}
.border-radius--50 {
    border-radius: 50%;
}

.border-radius--8 {
    border-radius: 8px;
}

.width--inherit {
    width: inherit;
}

.width--fit-content {
    width: fit-content;
}

.width--auto {
    width: auto;
}

.width--vw {
    width: 100vw;
}
.height--fit-content {
    height: fit-content;
}
.text--decoration-none {
    text-decoration: none;
}

.font--20 {
    font-size: 20px;
}






